.browse_nav
{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	text-align:center;
}

.browse_nav li.active
{
	font-weight:bold;
}
.browse_nav li.active:before
{
	content:'-';
}
.browse_nav li.active:after
{
	content:'-';
}

.pre-search-container
{
	margin-top:80px;
}

.linkrow{
	cursor:pointer;
}
.linkrow:hover td{
	background-color:#FFE !important;
}