.browse_nav
{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	text-align:center;
}

.browse_nav li.active
{
	font-weight:bold;
}
.browse_nav li.active a:before
{
	content:'>';
}
.browse_nav li.active a:after
{
	content:'<';
}
.browse_nav li
{
	color:#DDD;
}


.pre-search-container
{
	margin-top:80px;
}

.search-icon{
	font-size:5em;
}

.linkrow{
	cursor:pointer;
}
.linkrow:hover td{
	background-color:#FFE !important;
}

.edit-song-area div.row div
{
	border-left: 2px solid black;
}
.edit-song-area div.row div:last-child
{
	border-right: 2px solid black;
}


#chords table
{
	table-layout:fixed;
}

#chords input
{
	width:100%;
	padding:5px;
	margin:5px;
	border:1px solid #EEE;
}

#chords td:nth-child(2n+1) input
{
	border-left:2px solid #000;
}

#chords input:hover
{
	border:1px solid #CCC;
}