.browse_nav
{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	text-align:center;
}

.browse_nav li.active
{
	font-weight:bold;
}
.browse_nav li.active a:before
{
	content:'>';
}
.browse_nav li.active a:after
{
	content:'<';
}
.browse_nav li
{
	color:#DDD;
}


.pre-search-container
{
	margin-top:80px;
}

.search-icon{
	font-size:5em;
}

.linkrow{
	cursor:pointer;
}
.linkrow:hover td{
	background-color:#FFE !important;
}

.edit-song-area div.row div
{
	border-left: 2px solid black;
}
.edit-song-area div.row div:last-child
{
	border-right: 2px solid black;
}

#song-data-tab
{
	min-height:300px;
}

#chords_table
{
	table-layout:fixed;
	width:100%;
	border-collapse: separate;
	border-spacing:0px 5px;
}

#chords_heading:focus{
	outline:none;
}
#chords_heading
{
	font-size:2em;
	border:	1px solid #FFF;
	border-bottom:1px solid #EEE;
	width:100%;
}

#chords_table td
{
	padding:10px;
	font-size:1.2em;
}

#chords_table input
{
	font-size:1.2em;
	width:100%;
	padding:5px;
	border:	1px solid #FFF;
	border-bottom:1px solid #EEE;
}

#chords_table td:nth-child(2n)
{
	border-right:1px solid #666;
}

#chords_table td:nth-child(8)
{
	border-right:0;
}

#chords_table input:hover, #chords_table input:focus
{
	outline:none;
	border-radius:10px;
	border:1px solid #EEE;
	box-shadow: 0px 0px 4px #FF0;
}